.content {

  padding-left: 50px;
  font-family: Helvetica Neue, Helvetica;
}


h1 {font-size: 110px;
 
  margin: 0;
  padding: 25px 0 0;
}

#g4s {
  padding-left: 70px;
}


.logos {
    -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
       -moz-transform: scale(0.8); /* FF3.5+ */
        -ms-transform: scale(0.8); /* IE9 */
         -o-transform: scale(0.8); /* Opera 10.5+ */
            transform: scale(0.8);
               /* IE6–IE9 */
               filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');

             }

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
  }

  #title {
      font-size: 25px;
  }


#ism {position: absolute; 
  left: -150px;}